:root {
    --bgcolor: rgb(25, 25, 30);
    --fgcolor: white;
    --correctPlaceColor: rgb(0, 150, 75);
    --incorrectPlaceColor: rgb(200, 175, 0);
    --notPresentColor: rgb(50, 50, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

header {
    border-bottom: 1px solid grey;
}

header h1 {
    margin: 5px;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guess-grid {
    margin: 20px;
}

.row {
    display: flex;
}

.letter {
    aspect-ratio: 1/1;
    width: 60px;
    border: 1px solid grey;
    font-size: 32px;
    margin: 3px;
    padding: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#end-message {
    visibility: hidden;
    font-size: 16px;
}

#play-again {
    font-size: 16px;
    padding: 5px;
}

.key-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;

    height: 50px;
    min-width: 40px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 10px;
    border-radius: 2px;
    user-select: none;
    font-size: 14px;
    cursor: pointer;
}

button[code="Backspace"] {
    width: 60px;
}